:root {
    --textFont: "Segoe UI", "Helvetica Neue";
    --roundTextFont: 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --darkPurpleColor: #8e435f;
    --lightPurpleColor: #c36789;
    --lightPinkColor: #f381ab;
    --darkRedColor: #66263d;
    --darkGreyBlueColor: #495057;
    --darkGreyColor: rgb(116, 116, 116);
    --lightGreyColor: rgb(241, 240, 240);
    --blackColor: #000000;
}

.carousel-caption h3 {
    color: white;
    font-family: var(--textFont);
    font-size: 3.5vw;
    /* font-weight: bolder; */
    margin: 0 auto;
    -webkit-text-stroke-color: var(--blackColor);
    -webkit-text-stroke-width: 1.5px;
}

img {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}