<section>
    <h1>OUR RETURNS POLICY</h1>
    <hr class="mainHr">
    <p>We are sorry if you are not 100% satisfied with the items you received, and we will accept returns and replacements within 60 days from the purchase date.</p>
    <h3>Return Conditions</h3>
    <hr class="casualHr">
    <ul>
        <li>1. If you receive damaged/defective/wrong items, please contact SHEIN Customer Service for help as soon as possible.</li>
        <li>2. Items returned must be unused, with the original packing. We do not accept returns on items that have been worn, damaged, washed or altered in any way.</li>
        <li>3. The following items cannot be returned or exchanged: bodysuits, lingerie and swimwear.</li>
        <li>4. We do not accept returned items that have been sent back without proper returns requests.</li>
        <li>5. We do not offer Freight to Collect (FTC) service for the packages returned to us. The returns will be made at your own cost.</li>
        <li>6. Please be sure to double check your returns before shipping them out. We will not be held responsible for the return of non-DRESS@HOME items.</li>
    </ul>
    <h3>Refunds</h3>
    <hr class="casualHr">
    <p>Your refund will be issued to the original payment account. Once your refund has been issued, you will receive a confirmation email.</p>
</section>
