<!-- <p>body works!</p> -->
<main>
    <!-- <app-home *ngIf="choice == 'home'" (mainMenuChoice)="chooseFromMenu($event)"></app-home>
    <app-about-us *ngIf="choice == 'about-us'"></app-about-us>
    <app-contact-us *ngIf="choice == 'contact-us'"></app-contact-us>
    <app-login *ngIf="choice == 'login'"></app-login>
    <app-catalog-page *ngIf="choice.startsWith('catalog-page')" (mainMenuChoice)="chooseFromMenu($event)" [category]="choice.substring(13)"></app-catalog-page>
    <app-item-page *ngIf="choice.startsWith('item-page')" [_id]="choice.substring(10)"></app-item-page> -->
    <router-outlet></router-outlet>
</main>

