:root {
    --textFont: "Segoe UI", "Helvetica Neue";
    --roundTextFont: 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --darkPurpleColor: #8e435f;
    --lightPurpleColor: #c36789;
    --lightPinkColor: #f381ab;
    --darkRedColor: #66263d;
    --darkGreyBlueColor: #495057;
    --darkGreyColor: rgb(116, 116, 116);
    --lightGreyColor: rgb(241, 240, 240);
    --blackColor: #000000;
}

section {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

h2 {
    font-family: var(--roundTextFont);
    color: var(--darkGreyBlueColor);
    font-weight: bold;
}

hr {
    margin: 0 auto;
    margin-bottom: 15px;
    width: 350px;
    height: 4px;
    border-radius: 8px;
    background-color: var(--darkPurpleColor);
}

#itemsCards {
    display: inline-block;
}

.card {
    display: inline-block;
    margin: 20px 20px;
    cursor: pointer;
}

.card-text {
    margin: 10px 10px;
    display: inline-block;
    font-size: 18px;
}

.card-body i {
    color: var(--darkPurpleColor);
    margin: 0px 10px;
}

.emptyBagMsg {
    font-size: 25px;
    font-family: var(--textFont);
}

.emptyBagMsg a {
    color: var(--lightPurpleColor);
}

#totalP {
    font-size: 25px;
    font-weight: bold;
}

button {
    font-size: 22px;
    color: white;
    width: 140px;
    height: 40px;
    background-color: var(--darkRedColor);
    border: 3px solid var(--darkPurpleColor);
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: var(--darkPurpleColor);
    border: 3px solid var(--darkRedColor);
}

button:focus{
    background-color: var(--darkRedColor)!important;
    border: 3px solid var(--darkPurpleColor)!important;
}