<section>
    <h1>ABOUT DRESS@HOME COMPANY</h1>
    <hr>
    <p>DRESS@HOME is an international fashion platform. The company mainly focuses on women's wear, but it also offers men's apparel, children's clothes, accessories, shoes, and bags. DRESS@HOME mainly targets Europe, America, Australia, and the Middle East along with other consumer markets. The brand was founded in December 2018, and since then it has upheld the philosophy that "everyone can enjoy the beauty of fashion at his own home."</p>
</section>