<section>
    <h2>{{item["title"]}}</h2>
    <hr>
    <p>Item code: {{item["_id"]}}</p>
    <gallery [items]="images" thumbPosition="left" [nav]="false"></gallery>
    <article id="detailsArticle">
      <p id="priceP"><span class="currencySpan">$</span>{{item["price"]}}<span *ngIf="item['sale']" id="oldPriceP"><span class="currencySpan">$</span>{{item["oldPrice"]}}</span></p>
      <p id="colorP">Color: {{item['description'] ? item['description']['Color'] : ''}}</p>
      <p id="sizeP">Size:</p>
      <div class="sizeBtn" *ngFor="let sz of item['size'] | keyvalue">
        <button (click)="selectSize(sz)" [disabled]="!sz.value.inStock" class="sizeBtn" id="sizeBtn">{{sz.key}}</button>
      </div>
      <div *ngFor="let szDesc of sizeDesc | keyvalue" class="sizeDetails">
        <p *ngIf="szDesc.key != 'inStock'" class="sizeDetails">{{szDesc.key}}: {{szDesc.value}}</p>
      </div>
      <p id="descP">Description: <i [ngClass]="{'fas': true, 'fa-plus-square': !activeDesc, 'fa-minus-square': activeDesc}" (click)="activeDesc = !activeDesc"></i></p>
      <div *ngFor="let desc of item['description'] | keyvalue" class="descDetails">
        <p *ngIf="(desc.key != 'Color') && activeDesc" class="descDetails">{{desc.key}}: {{desc.value}}</p>
      </div>
    </article>
    <aside *ngIf="auth.loggedIn()">
      <!-- <i class="fas fa-heart" id="favI"></i> -->
      <div  placement="bottom" ngbTooltip="Select size to add" id="buttonDiv" [disableTooltip]="selectedSize">
        <button [disabled]="!item['inStock'] || !selectedSize" type="submit" id="addBtn" (click)="addItemToBag()">Add to bag</button>
      </div>
      <p *ngIf="!item['inStock']" id="soldP">SOLD OUT</p>
      <ngb-alert #selfClosingAlert *ngIf="successMessage" type="success" (closed)="successMessage = ''">{{ successMessage }}</ngb-alert>
    </aside>
</section>