<header>
  <ul ngbNav [activeId]="1" class="nav-tabs justify-content-left" id="navBar">
    <li [ngbNavItem]="1">
      <a ngbNavLink [class.active]="router.url == '/'" [routerLink]="['/']">HOME</a>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink [class.active]="router.url == '/about-us'" [routerLink]="['/about-us']">ABOUT US</a>
    </li>
    <li ngbDropdown class="nav-item" [class.show]="router.url.startsWith('/catalog-page')">
      <a href (click)="false" class="nav-link" ngbDropdownToggle>CATALOG</a>
      <div ngbDropdownMenu>
        <button ngbDropdownItem [routerLink]="['/catalog-page', 'Woman']">WOMAN</button>
        <button ngbDropdownItem [routerLink]="['/catalog-page', 'Man']">MAN</button>
        <button ngbDropdownItem [routerLink]="['/catalog-page', 'Kids']">KIDS</button>
      </div>
    </li>
    <li [ngbNavItem]="3">
      <a ngbNavLink [class.active]="router.url == '/contact-us'" [routerLink]="['/contact-us']">CONTACT US</a>
    </li>
  </ul>
  <div id="logoDiv">
    <img id="logo" src="../../assets/NewLOGOHeader.png" alt="LOGO" class="justify-content-center">
  </div>
  <div id="loginBtn">
    <button type="button" class="btn btn-light" [routerLink]="['/login']" *ngIf="!auth.loggedIn()">LOGIN</button>
    <i class="fas fa-user-lock" *ngIf="auth.loggedIn()" [routerLink]="['/manage-users']"></i>
    <i class="fas fa-box-open" *ngIf="auth.loggedIn()" [routerLink]="['/manage-orders']"></i>
    <i class="fas fa-folder-plus" *ngIf="auth.loggedIn()" [routerLink]="['/add-items']"></i>
    <i class="fas fa-heart" *ngIf="auth.loggedIn()" [routerLink]="['/favorites']"></i>
    <i class="fas fa-shopping-cart" *ngIf="auth.loggedIn()" [routerLink]="['/cart']"></i>
    <i class="fas fa-user" *ngIf="auth.loggedIn()" [routerLink]="['/user-details']"></i>
    <select class="form-select" *ngIf="auth.loggedIn()">
      <option selected value="0">USD $</option>
      <option value="1">ILS ₪</option>
    </select>
    <button type="button" class="btn btn-light" *ngIf="auth.loggedIn()" (click)="auth.logoutUser()">LOGOUT</button>
  </div>
</header>