:root {
    --textFont: "Segoe UI", "Helvetica Neue";
    --darkPurpleColor: #8e435f;
    --darkGreyColor: rgb(116, 116, 116);
    --lightGreyColor: rgb(241, 240, 240);
}

header {
    background-color: var(--lightGreyColor);
    clear: both;
    justify-content: center;
    padding: 7px 7px;
    position: sticky;
    display: flex;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    font-family: var(--textFont);
}

#navBar {
    flex: 3;
    margin: 0 0;
    width: 100%;
    margin: auto 0;
    display: inline;
}

#navBar li {
    display: inline-block;
}

#navBar li a{
    font-size: 17px;
    font-weight: bold;
    color: var(--darkGreyColor);
}

#logoDiv {
    flex: 3;
    text-align: center;
}

#logo {
    margin: 0 auto;
    display: inline;
    width: 188px;
    height: 81px;
    font-family: var(--textFont);
}

#loginBtn {
    flex: 3;
    margin: auto 0;
    /* padding: 0 auto; */
    /* width: 100px; */
    margin-right: 10px;
    text-align: right;
    /* background: none; */
    /* border: none; */
}

#loginBtn button {
    font-weight: bold;
    color: var(--darkGreyColor);
}

/* #loginBtn i {
    margin-right: 0px;
    font-size: 28px;
    color: var(--darkPurpleColor);
} */