:root {
    --textFont: "Segoe UI", "Helvetica Neue";
    --roundTextFont: 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --darkPurpleColor: #8e435f;
    --lightPurpleColor: #c36789;
    --lightPinkColor: #f381ab;
    --darkRedColor: #66263d;
    --darkGreyBlueColor: #495057;
    --darkGreyColor: rgb(116, 116, 116);
    --greyColor: rgb(202 197 197);
    --lightGreyColor: rgb(241, 240, 240);
    --blackColor: #000000;
}

.container {
    margin-top: 75px;
}

.user_card {
    height: 400px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: var(--greyColor);
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 40%;
    background: var(--lightGreyColor);
    padding: 10px;
    text-align: center;
}

.brand_logo {
    height: 145px;
    width: 145px;
    border-radius: 40%;
    border: 4px solid var(--darkPurpleColor);
}

.form_container {
    margin-top: 100px;
}

.login_btn {
    width: 100%;
    background: var(--darkRedColor) !important;
    color: white !important;
}

.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.login_container {
    padding: 0 2rem;
}

.input-group-text {
    background: var(--darkRedColor) !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user, .input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

a {
    color: var(--lightPurpleColor);
    font-weight: bold;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: var(--darkRedColor) !important;
}