:root {
    --textFont: "Segoe UI", "Helvetica Neue";
    --darkPurpleColor: #8e435f;
    --darkGreyColor: rgb(116, 116, 116);
    --lightGreyColor: rgb(241, 240, 240);
    --blackColor: #000000;
}

footer {
    background-color: var(--lightGreyColor);
    clear: both;
    color: var(--blackColor);
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    z-index: 100;
}

footer p {
    text-align: center;
    font-family: var(--textFont);
}

.socialNetworks {
    font-size: 17px;
    font-weight: bold;
}

.socialNetworks i {
    color: var(--darkPurpleColor);
    margin: 0px 8px;
    font-weight: bold;
    font-size: 20px;
}

#copyright {
    font-size: 12px;
    color: var(--darkGreyColor);
    margin-bottom: 3px;
}