<footer>
    <p class="socialNetworks">Find us on:<a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                         <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                                         <a href="https://instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
                                         <a href="https://youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a></p>
    <p id="copyright">©DressAtHome All Rights Reserved </p>
</footer>


